/*.light {
	--color-bg-primary: white;
	--color-bg-secondary: hunter-green;
	--color-text-primary: dark-red;
	--color-text-secondary: barn-red;
	--color-text-accent: dark-jungle-green;
}

.dark {
	--color-bg-primary: dark-red;
	--color-bg-secondary: rosewood;
	--color-text-primary: hunter-green2;
	--color-text-secondary: white;
	--color-text-accent: wintergreen-dream;
}

:root {
	@apply .light;
}*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overflow-visible overflow-x-hidden;
}
